@import '../../App.css';

/*Style for Dashboard*/
/*Style for Dashboard*/
/*Style for Dashboard*/
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-content {
  display: flex;
  /* flex: 1;
  overflow: hidden; */
}

.main-content {
  flex: 1;
  overflow-y: auto;
  margin-left: 50px;
  transition: margin-left 0.5s;
  display: flex;
  flex-direction: column;
}

/*Style for Sidebar*/
/*Style for Sidebar*/
/*Style for Sidebar*/
/* Ensure SideBar has a fixed width */
.sidebar {
  width: 250px; /* Adjust as needed */
  height: 100%;
  background-color: var(--color-dark-gray);
  /* Add any other styles for your sidebar */
}

/* Adjust Filter styles */
.filter-container {
  margin-bottom: 20px;
}

/* Style for HomePage */
/* Style for HomePage */
/* Style for HomePage */
.home-page {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  list-style-type: none;
  padding: 0px;
}

/* Ensure the "Load More" button is at the bottom */
.home-page .custom-button {
  margin-top: 20px;
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

/*Style for Favorites*/
/*Style for Favorites*/
/*Style for Favorites*/
.favorites h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--color-light-red);
}

/*Style for Watch Later*/
/*Style for Watch Later*/
/*Style for Watch Later*/
.watch-later h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--color-light-red);
}
