@import '../../App.css';

/* MOVIE CARD */
.movie-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 398px;
  margin: 10px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-dark-gray);
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
}

.action-icons {
  display: flex;
  justify-content: flex-end;
}

.action-icons svg {
  margin-left: 10px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.2em;
}

.action-icons svg.favorite {
  color: var(--color-light-red);
}

.action-icons svg.watch-later {
  color: var(--color-gray);
}

.movie-image {
  width: 100%;
  height: 300px;
}

.movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
  color: var(--color-white);
}

.movie-info h2 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.movie-info p {
  font-size: 0.9em;
  margin: 0 0 5px 0;
  color: var(--color-gray);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.genre-tag {
  cursor: pointer;
  margin: 2px;
  padding: 2px 8px;
  border: 1px solid var(--color-light-red);
  border-radius: 15px;
  display: inline-block;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  font-size: 0.8em;
}

.genre-tag.selected {
  background-color: var(--color-light-red);
  color: var(--color-white);
  border-color: var(--color-light-red);
}

/* FILTER STYLES */
.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 40px; /* Increased left padding by 20px */
  background-color: var(--color-dark-gray);
  border-radius: 8px;
}

.filter-left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.filter-search {
  align-self: flex-end;
  margin-bottom: 10px;
}

.filter-controls {
  display: flex;
  justify-content: space-between;
}

.filter-controls input,
.filter-controls select {
  padding: 5px;
  margin-right: 10px;
  background-color: var(--color-dark);
  color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}

.filter-right {
  width: 35%;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.genre-list .genre-tag {
  margin: 5px;
}