@import '../../App.css';

/*     HEADER STYLING     */
.header-nav {
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.header-nav p {
  color: var(--color-white);
}

/* User Options */
.user-options {
  align-items: center;
  display: flex;
}

.user-options img {
  border: 1px solid var(--color-light-red);
  border-radius: 50%;
  height: 2rem;
  margin-right: 10px;
}

.user-options p {
  margin-right: 1.5rem;
}

.logout-span {
  color: var(--color-dark-red);
  cursor: pointer;
}

/*     SIDEBAR STYLING     */
.sidebar {
  background-color: var(--color-dark-red);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: width 0.5s;
  width: 50px;
  z-index: 999;
}

.sidebar.open {
  width: 218px;
}

/* Navigation Menu */
.navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.nav-item.selected {
  background-color: var(--color-light-red);
}

.nav-item span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden;
  white-space: nowrap;
}

.sidebar.open .nav-item {
  justify-content: flex-start;
}

.sidebar.open .nav-item span {
  min-width: 80px;
  opacity: 1;
  visibility: visible;
}

.sidebar.open .nav-item .fa-icon {
  margin-right: 10px;
}

.arrow-icon {
  position: absolute;
  right: 10px;
  visibility: hidden;
}

.nav-item.selected .arrow-icon {
  visibility: visible;
}

.sidebar:not(.open) .nav-item .arrow-icon {
  visibility: hidden;
}

/* Activities Container */
.activities-container {
  background-color: var(--color-dark-gray);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: none;
  margin: 5px;
  margin-top: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.sidebar.open .activities-container {
  display: block;
}

/* Activities Title */
.activities-title {
  color: var(--color-white);
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-decoration: underline solid white;
  white-space: nowrap;
}

/* Activity List */
.activity-list {
  list-style: none;
  margin: 0;
  padding: 0 10px 10px;
}

.activity p {
  color: var(--color-white);
  margin: 0 0 10px;
}
