/*     HEADER STYLING     */
.custom-header {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
}

/* Cinema Guru text */
.custom-header p:first-of-type {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Container for right-aligned elements */
.custom-header .right-elements {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto; /* Push the right elements to the right */
}

/* Profile picture */
.custom-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid red;
  object-fit: cover;
}

/* Welcome text */
.custom-header .right-elements p {
  margin: 0;
}

/* Logout span  */
.custom-header span {
  color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Logout icon */
.custom-header span svg {
  margin-left: 5px;
}

/*     SIDEBAR STYLING     */
.custom-sidebar {
  width: 200px; /* Adjust this width as needed */
  background-color:red; /* Light grey background */
  height: 100vh; /* Full height */
  padding: 20px 0;
}

.custom-sidebar .navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-sidebar .navigation li {
  width: 100%;
}

.custom-sidebar .navigation button {
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.custom-sidebar .navigation button:hover {
  background-color: darkred;
}

.custom-sidebar .navigation button.selected {
  background-color: #d0d0d0;
  font-weight: bold;
}

.custom-sidebar .navigation button svg {
  margin-right: 10px;
}

.custom-sidebar .activity {
  list-style-type: none;
  padding: 0 20px;
  margin-top: 20px;
}